:80 {
	encode zstd gzip

	handle /api/* {
		reverse_proxy {$BACKEND_UPSTREAM:backend:8000}
	}

	handle {
		header Cache-Control "no-cache"
		root * /srv
		try_files {path} /index.html
		file_server
	}
}
